<!DOCTYPE html>
<html>
    <head>
        <title><%=pp.res1[0].rollno%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="../stylesheets/divy.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
       <nav class="navbar navbar-inverse ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="../images/divy1.png" class="navbar-brand" alt="Responsive image">
                    <a class="navbar-brand" href="http://localhost:4000/myProfile">Online Exam System</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <img src="../uploads/<%=pp.res1[0].picname%>" class="img-circle img-responsive log4" alt="New York"></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=pp.res1[0].rollno%>
                              <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                 <li><a href="http://localhost:4000/myProfile">Profile</a></li>
                                 <li><a href="http://localhost:4000/editProfile">Edit Profile</a></li>
                                 <li><a href="http://localhost:4000/logout">Logout</a></li>
                            </ul>
                         </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="col-sm-8 col-sm-offset-2 log7" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">User Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3" align="center">
                           <img alt="User Pic" src="../uploads/<%=pp.res1[0].picname%>" class="img-circle img-responsive" width="100" height="100">
                        </div>
                        <div class=" col-sm-9">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Roll No:</td>
                                        <td><%=pp.res1[0].rollno%></td>
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td><%=pp.res1[0].name%></td>
                                    </tr>
                                    <tr>
                                        <td>Branch:</td>
                                        <td><%=pp.res1[0].branch%></td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td><%=pp.res1[0].email%></td>
                                    </tr>
                                    <tr>
                                        <td>Mobile:</td>
                                        <td><%=pp.res1[0].mobile%></td>
                                    </tr>
                                </tbody>
                              </table>
                        </div>
                      </div>
                </div>
              </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 log7">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Given Test id</h3>
            </div>
            <div class="panel-body">
              <% var siz = pp.res2.length;
              for(var i=0 ; i<siz ; i++)
              {%>
              <div class="col-sm-2 log11">
                <center><a href="/viewRankings/<%=pp.res2[i].test_id%>"><%=pp.res2[i].test_id%></a></center>
              </div>
              <%}%>
            </div>
          </div>
        </div>
        <div class="footer2">
         <footer>
                <center> “Copyright © online test system. All Right Reserved” ​and “Contact Us: +91 90000 00000”</center>
         </footer>
        </div>
    </body>
</html>
